body {
    display: flex;
    justify-content: center;  

}

#display {
    border: 2px solid black;
    width: 304px;
    height: 50px;
    font-size: larger;
}

button {
    width: 100px;
    height: 50px;
    margin: 0pxs;
}

#calculator {
    border: gray 4px solid; 
}   